body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active-tabs {
  background-color: rgb(100, 100, 199) !important;
  color: white !important;
}
.No-movies{
  margin-top: 10px;
}
.main {
  width: 70%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
}

.tabs {
  display: flex;
  margin-top: 3px;
  font-size: 20px;
}
.main .tabs .tab {
  padding: 10px;
  border: 1px solid e1e1e1;
  margin-right: 13px;
  border-radius: 3px;
  background-color: #fff;
}
.main .tabs .tab:hover {
  cursor: pointer;
  background-color: #e1e1e1
}

.Movies-list {
  display: flex;
  flex-direction: column;
  border: noone;
  box-sizing: border-box;
}
.movieWrapper {
  background-color: white;
  padding: 0px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
  border: none;
  border-radius: 3px;
  display: flex;
}
.movieWrapper:not(:first-child),
.movie-details:not(:first-child) {
  margin-top: 20px;
}
.movieWrapper:last-child {
  margin-bottom: 50px;
}
.movieWrapper .movie-poster {
  flex: 1;
}
.movie-poster img {
  height: 250px;
}
.movie-details {
  flex: 10;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 25px;
  font-weight: 600;
  padding: 10px 20px;
  font-style: none;
}
.description {
  font-style: none;
  margin-top: 20px;
  padding: 0px 20px;
}
.movie-rating {
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  display: flex;
  padding: 10px 20px;
  width: 95%;
  justify-content: space-between;
}
.movie-rating button {
  
  font-size: 15px;
    padding: 7px 10px;
    text-shadow: none;
    border-radius: 3px;
    border: none;
    font-weight: 600;
}
.favBtn{
  background-color: #2185d0;
  color: #fff;
}
.movie-rating .ratings {
  font-size: 20px;
  font-weight: 600;
}
.unfavBtn{
  background-color:rgb(194, 65, 18);
  color: #fff;
}
